################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NTTaxi/.vs
/NTTaxi/bin
/NTTaxi/obj
/NTTaxi/ggsheetaccount.json
/NTTaxi/ltvggsheetaccount.json
/NTTaxi/node_modules
/NTTaxi/package-lock.json
/NTTaxi/package.json
/NTTaxi/tailwind.extension.json
/NTTaxi/bodylogin.bin

/NTTaxi.Libraries/bin
/NTTaxi.Libraries/obj
/tessdata-main.zip
/NTTaxi.Libraries/tessdata-main
/NTTaxi.Libraries/ImageSearch32bit.rar
/NTTaxi.Libraries/ImageSearch64 bit.rar
/NTTaxi.Libraries/ImageSearch64bit