################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NTTaxi/.vs
/NTTaxi/bin
/NTTaxi/obj
/NTTaxi/ggsheetaccount.json
/NTTaxi/node_modules
/NTTaxi/package-lock.json
/NTTaxi/package.json
/NTTaxi/tailwind.extension.json
/NTTaxi/bodylogin.bin

/NTTaxi.Libraries/bin
/NTTaxi.Libraries/obj
