@page "/skysoft"
<h3>Skysoft</h3>
<button class="rounded bg-blue-600 px-3 py-1 hover:bg-blue-700"
        @onclick="OpenSkysoft">
    Mở Skysoft
</button>

<span>@Cookie</span>
<span>@Token</span>



@code {
    [Inject] private ISkysoftService skysoftService { get; set; } = default!;
    private string Cookie { get; set; } = default!;
    private string Token { get; set; } = default!;
    private List<UserSkysoft> users = new List<UserSkysoft>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Cookie = await skysoftService.GetCookieAsync();
            Token = await skysoftService.AuthenticationAsync();
        }
        catch (Exception ex)
        {
            var msg = ex.Message;
        }
    }

    [Inject] private IJavaLauncherAutomation Launcher { get; set; } = default!;
    private void OpenSkysoft()
    {
        string jnlpPath = @"D:\Dev\Skysoft\skysoft.jnlp";

        users= new List<UserSkysoft>
        {
            new UserSkysoft
            {
                Username = "namthangbl",
                Password = "ntbl@2501",
                ProviderCode = "BLU"
            },
            new UserSkysoft
            {
                Username = "namthangvl",
                Password = "ntvl@25",
                ProviderCode = "VLG"
            },
            new UserSkysoft
            {
                Username = "namthangst",
                Password = "ntst@2501",
                ProviderCode = "STG"
            }
        };

        @foreach (var user in users)
        {
            Launcher.OpenSkysoftJnlp(jnlpPath, user);
        }   
    }
}
