@page "/vetc-baclieu"
<div class="text-2xl">VETC BẠC LIÊU</div>

<div class="text-sm"> @result</div>

@code {
    [Inject] private IVETCService vetcService { get; set; } = default!;
    private string result { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
           await vetcService.GetAuthenticationAsync(new UserVETC { username = "E0104577818", password = "NamThang@25" });
            result = await vetcService.GetDatas();
        }
        catch (Exception ex)
        {
            
            result = $"{ex.Message}";
        }
    }
}
